
  body{
    width:100%;
    min-width:1280px;
    //根本不用媒体查询诶
  }

@import 'font';

$h:"黑体",SimHei;
$w:"微软雅黑","Microsoft YaHei";
$s:"宋体",SimSun;
// 但是用rem不是也很好用吗
$red:#e74f4d;
.oblique{
	font-style: oblique;
}
.col-90{
	width: 90%;
	margin: 0 auto;
}
.col-80{
	width: 80%;
	margin: 0 auto;
}
.font-red{
	color:#e74f4d;
}
.font-grey{
	color: rgb(204,203,203);
}
.font-white{
	color: #fff;
}
.background-red{
	background-color:#e74f4d;
}
.background-white{
	background: #fff;
}
.background-grey-shallow{
	background-color: rgb(248,248,248);
}
.background-grey{
	background: rgb(237,237,237);
}
.border-red{
	border: 1px solid #e74f4d;
}
.right_triangle{
	width: 0;
	height: 0;
	border-width:30px;
	border-right: 42px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	position: absolute;
	top:265px;
	right: 0;
}
.left_triangle{
	width: 0;
	height: 0;
	border-width:14px 0 14px 24px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	top:245px;
	left: 0px;
	z-index: 2;
}
body{
	margin: 0;
}
nav{
	width: 100%;
	height: 50px;
	p{
		font-size: 21px;
		font-family: $h;
		line-height: 50px;
		// 原图似乎并不与右侧对齐
		display: inline-block;
		margin: 0;
		img{
			vertical-align: middle;
			margin-top:-4px;
			// 感觉不在中间，怪怪的，微调一下
			margin-right: 5px;
		}
	}
	ul{
		float: right;
		display: inline-block;
		list-style: none;
		margin: 0;
		li{
			line-height: 50px;
			display: inline-block;
			margin-right: 30px;
			font-size: 14px;
			font-family: $w;
			a{
				font-size: 14px;
				font-family: $w;
			}
			a:link,a:visited{
				color: #000;
				text-decoration: none;
			}
			a:hover,a:active{
				color: $red;
				text-decoration: none;
			}
		}
	}
	.log-in{
		float: right;
		line-height: 50px;
	}
	.log-in:link,.log-in:visited,.log-in:hover,.log-in:active{
		color: $red;
	}
}


.lead{
	position: relative;
	.lead-show{
		background: url("../../src/images/first_background.png");
		background-repeat: no-repeat;
		background-size: cover;
		height: 853px;
		font-family: $w;		
		.lead-show-mask{
			background-color: rgba(100,100,100,0.1);
			height: auto;
			width: 100%;
			position: absolute;
		}
		.show-content{
			position: relative;
			top: 230px;
			z-index: 2;
			margin-left: 10%;
			h1{
				margin: 0px 0 30px;
				font-size: 60px;
			}
			button{
				margin-top: 70px;
				width: 330px;
				height: 60px;
				border: none;
				font-size: 30px;
			}
			p{
			font-size: 21px;
			}
		}
	}
	.lead-content{
		font-size: 0;
		// 用来消除inline-block副作用
		p{
			font-size: 14px;
			font-family: $h;
		}
	}
	.lead-content>div{
		width: 25%;
		height: 250px;
		display: inline-block;
		text-align: center;
		>p{
			margin: 5px;
		}
		>img{
			margin: 45px 0;
		}
		>hr{
			display: inline-block;
			float: right;
			margin-top: 130px;
			width: 2px;
			height: 50px;
			border: none;
			color: rgb(187,187,187);
			background-color: rgb(187,187,187);
		}

	}
}
.information-lead{
	height: 350px;
	text-align: center;
	overflow: hidden;
	img{
		margin: 90px auto 50px;
	}
	h1{
		font-size: 53.59px;
		font-family: $h;
	}
}
.information-map{
	background: url(../../src/images/map.png) no-repeat;
	background-size: cover;
	text-align: center;
	font-family: $w;
	height: 317px;
	overflow: hidden;
	h3{
		margin: 0;
		margin-top: 50px;
		font-size: 21px;
	}
	>p{
		margin: 0 auto 50px;
	}
	hr{
		width: 30px;
		height: 2px;
		border: none;
		margin: 10px auto 20px;
	}
	form{
		width: 80%;
		margin: 0 auto;
		text-align-last:justify;
		select,button{
			display: inline-block;
			width: 235px;
			height: 35px;
			border: 1px solid $red;
			font-size: 12px;
		}
		select{
			padding:0 15px 0 10px;
			appearance:none;
  			-moz-appearance:none;
  			-webkit-appearance:none;
  			background: 
  			url(../../src/images/select.png) no-repeat scroll 95% center,
  			#fff;
  			option:hover{
				background-color: $red;
  			}
		}
		select:focus option:checked{
			 color: white; 
			 background:$red;
			}
		button{
			text-align-last: center;
			font-size: 14px;
		}
	}
	
}
.activity{
	text-align-last: justify;
}
.activity-show{
	letter-spacing: -1px;
	display: inline-block;
	width: 250px;
	text-align-last: center;
	font-family: $w;
	img{
		width: 90%;
		border: 1px solid #e8e8e8;
		padding: 10px 8px 13px 7px;
		background: #fff;
	}
	margin: 100px 0px 100px;
	h3{
		margin: 0;
		margin-left: 8px;
		font-size: 22px;
		text-align-last:justify; 
		width: 235px;
	}
	h4{
		margin: 0;
		font-size: 18px;
	}
	p{
		margin: 0;
		font-size: 14px;
		color: rgb(204,203,203);
	}
}
.new{
	.new-world-img{
		width: 66.7%;
		min-width: 1280px-426.7px;
		height: 565px;
		text-align: center;
		background: url(../../src/images/second_background.png) no-repeat top left;
		background-size: cover;
		float: left;
		font-family: $w;
		position: relative;
		// for triangle
		h1{
			font-size:157.79px;
			line-height: 158px;
			margin:0 auto 35px;
		}
		h2{
			font-size: 49.47px;
			margin: 130px auto 10px;
		}
		h3{
			font-size: 21.91px;
			margin: 0 auto 25px;
		}
	}
	.new-world-box{
		width: 33.3%;
		min-width: 426.7px;
		height: 565px;
		margin-left: 66.7%;
		text-align: center;
		.box-content{
			display: inline-block;
			width: 285px;
			h3{
				font-family: $h;
				font-size: 21px;
				margin: 160px auto 30px;
			}
			p{
				font-family: $w;
				font-size: 12px;
				line-height: 32px;
				margin: 0 auto 50px;
				text-align: left;
			}
			.border-red{
				margin: 0 auto 20px;
				width: 105px;
				height: 30px;
				a:link,a:visited,a:hover,a:active{
					color: $red;
					text-decoration: none;
				}
				a{
					line-height: 30px;
				}
			}
			ul{
				list-style: none;
				width: 60px;
				margin: 0 auto;
				padding: 0;
				text-align-last:justify;
				li{
					display: inline-block;
					width: 8px;
					height: 8px;
					border: 1px solid #929293;
					border-radius: 4px;
				}
				li:hover{
					background: #929293;
				}
			}

		}
		
	}
	.new-box-img{
		width: 33.3%;
		min-width: 426.7px;
		height: 520px;
		background: url(../../src/images/third_background.png) no-repeat;
		background-size: cover;
		margin-left: 66.7%;
		// 不明白为什么66.7会多撑开，这数据不是相等的吗
		position: relative;
	}
	.new-box-img:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(0,0,0,0.3);
	}
	.new-box-content{
		width: 33.35vw;
		min-width: 426.65px;
		height: 520px;
		text-align: center;
		float: left;
		font-family: $h;
		hr{
			width: 30px;
			height: 2px;
			border: none;
			margin: 25px auto 25px;
		}
		h3{
			font-size: 21px;
		}
		h3:first-of-type{
			margin: 170px auto 10px;
		}
		div{
			width: 170px;
			height: 40px;
			margin: 0 auto;
			a:link,a:visited,a:hover,a:active{
					color: $red;
					text-decoration: none;
			}
			a{
				line-height: 40px;
			}
		}
		.border-white{
			border: 1px solid #fff;
			a:link,a:visited,a:hover,a:active{
					color: #fff;
					text-decoration: none;
			}
		}
	}
	.new-box{
		width: 100%;
	}
}
.join{
	height: 750px;
	text-align: center;
	h3{
		font-family: $h;
		font-size: 21px;
		margin: 120px 0 0;
	}
	p{
		font-family: $w;
		font-size: 12px;
	}
	>hr{
		width: 30px;
		height: 2px;
		border: none;
		margin: 10px auto 15px;
	}
	>p:last-of-type{
		margin-bottom: 105px;
	}
	.join-rule{
		width: 290px;
		float: left;
		text-align: left;
		h4{
			margin: 0 0 25px;
		}
		p{
			margin: 0 0 10px;
			color: rgb(157,155,154);
		}
		.join-right{
			text-align: right;
			a:link,a:visited,a:hover,a:active{
				color: rgb(157,155,154);
				text-decoration: none;
			}
		}
	}
	form{
		overflow: hidden;
		margin-left: 360px;
		input{
			border: none;
			background: rgb(237,237,237);
			width: 15vw;
			min-width: 200px;
			height: 35px;
		}
		.input-box{
			width: 50vw;
			min-width: 640px;
			text-align-last:justify;
			display: inline-block;
		}
		.input{
			width: 24.2vw;
			min-width: 310px;
			height: 40px;
			display: inline-block;
			margin: 0 0 13px 0px;
			line-height: 40px;
			text-align-last: left;
		}
		.textarea{
			width: 50vw;
			min-width: 640px;
			height: 120px;
			display: inline-block;
			margin: 0 0 13px 0px;
			position: relative;
			label{
				position: absolute;
				top:5px;
			}
		}
		textarea{
			width: 50vw;
			min-width: 640px;
			height: 120px;
			border: none;
			padding: 0;
		}
		button{
			width: 50vw;
			min-width: 640px;
			height: 40px;
			border: none;
			font-family: $h;
			font-size: 14px;
		}
		label{
			margin-left: 15px;
			font-family: $s;
			font-size: 12px;
		}
	}
}
.contact{
	background: rgb(50,54,62);
	height: 360px;
	text-align: center;
	overflow: hidden;
	h3{
		font-family: $h;
		font-size: 21px;
		margin: 90px auto 10px;
	}
	p{
		margin: 0 0 5px;
	}
	>p:last-of-type{
		margin: 0 0 30px;
	}
	form{
		width: 40vw;
		min-width: 510px;
		display: inline-block;
		margin-bottom: 35px;
		input{
			width: 33.5vw;
			min-width: 425px;
			border: none;
			height: 40px;
			padding: 0;
			float: left;
		}
		button{
			width: 6vw;
			min-width: 75px;
			background: #6f7178;
			border: 2px solid #51545c;
			// input高度不和border重合button重合？
			height: 40px;
			padding: 0;
			float: left;
			font-family: $w;
			font-size: 15px;
		}
	}
	.awesome{
		margin: 0 auto;
		width: 200px;
		text-align-last: justify;
		a:link,a:visited,a:hover,a:active{
				color: #fff;
				text-decoration: none;
		}
	}
}
footer{
	background: rgb(47,48,56);
	height: 57px;
	p{
		margin: 0;
		display: inline-block;
	}
	a{
		float: right;
	}
	a:link,a:visited,a:hover,a:active{
				color: #fff;
				text-decoration: none;
			}
	a,p{
		margin-top: 25px;
	}
}
