.bold-face{
	font-family: SimHei,"黑体";
}
.microsoft-yahei{
	font-family: "Microsoft YaHei","微软雅黑";
}
.font-size-14{
	font-size: 14px;
}
.font-size-21{
	font-size: 21px;
}
.font-size-30{
	font-size: 30px;
}
.font-size-60{
	font-size: 60px;
}