html {
    font-size: 16px;
}

input {
    width: 10rem;
}

button {
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

.box {
    width: 1rem;
    background-color: red;
    margin: 0.5rem;
    display: inline-block;
}