* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
    margin: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

[class*='width'] {
    float: left;
}

h2 {
    font-size: 21px;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
}

section {
    width: 1280px;
    margin: 0 auto;
    >div {
        float: left;
    }
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

.border-grey {
    border: 2px solid #b9babd;
}

.background-blue {
    background: rgb(33, 137, 191);
}

.square-big {
    width: 35px;
    height: 35px;
}

.square-small {
    width: 17.5px;
    height: 17.5px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

nav {
    width: 100%;
    height: 55px;
}

.nav-content {
    width: 1280px;
    height: 55px;
    margin: 0 auto;
    padding: 0 50px;
    .square-big {
        background: #fff;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    .square-small {
        background: #fff;
        border-top: 3px solid rgb(33, 137, 191);
        border-left: 3px solid rgb(33, 137, 191);
        position: relative;
        top: 17.5px;
        left: 17.5px;
    }
    input,
    a {
        float: right;
        @extend .vertical-center;
    }
    a {
        line-height: 16px;
        color: #fff;
        padding-left: 18px;
        background: url(../../src/images/sign.png) no-repeat;
    }
    input {
        right: 20px;
    }
}

#left {
    width: 260px;
    height: 1210px;
    background: rgb(42, 46, 61);
    .row {
        margin-left: 45px;
        .border-grey {
            width: 56px;
            height: 56px;
            border-radius: 56px;
            .head-portrait {
                border: 2px solid #b9babd;
                width: 46px;
                height: 46px;
                border-radius: 46px;
                @extend .vertical-center;
                background: #b9babd;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

#right {
    width: 1020px;
    height: 1210px;
    background: rgb(238, 238, 237);
    .bar {
        p {
            background-color: white;
            color: #b7b7b7;
            font-family: SimHei;
            font-size: 12px;
            padding-left: 20px;
            line-height: 30px;
            span {
                padding: 0 10px 0;
            }
            .blue {
                color: #228abf;
            }
        }
    }
    .row {
        width: 890px;
        margin: 0 auto;
    }
    .search {
        height: 85px;
        border: 1px solid #dddfe1;
        margin: 20px auto 10px;
        background: #fff;
        select {
            height: 25px;
            border: 1px solid #b9babd;
        }
        .width-150 {
            width: 150px;
            select {
                width: 68px;
            }
        }
        .width-190 {
            width: 190px;
            select {
                width: 120px;
            }
            .select-change {
                float: right;
            }
            .border-grey {
                width: 16px;
            }
        }
        .triangle {
            width: 0;
            height: 0;
            border: 6px solid #b9babd;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-width: 0px;
        }
    }
    .tab {
        margin-bottom: 20px;
        text-align-last: justify;
        div {
            display: inline-block;
            height: 65px;
            background: #fff;
            border: 1px solid #ced0d3;
            border-right-color: transparent;
            border-bottom-color: transparent;
            text-align-last: center;
            overflow: hidden;
            font-family: Microsoft YaHei;
            h4 {}
            h2 {
                color: #ec6500;
                span {
                    font-size: 12px;
                    color: #adadad;
                }
            }
        }
        .move {
            width: 32px;
            font-size: 18px;
            line-height: 65px;
            color: #ababab;
        }
        .detail {
            width: 110px;
        }
        .history-search {
            width: 130px;
            float: right;
        }
    }
    .statistics {
        text-align-last: justify;
        font-family: SimHei;
        margin-bottom: 12px;
        h4 {
            text-align-last: left;
            font-family: Microsoft YaHei;
            margin-bottom: 5px;
        }
        >div {
            height: 70px;
            background: #fff;
            width: 202px;
            border: 1px solid #ced0d3;
            display: inline-block;
            hr {
                float: left;
                width: 4px;
                height: 70px;
                margin: 0;
                border: none;
                position: relative;
                top: -1px;
            }
            >div:nth-of-type(1) {
                margin-left: 11px;
                float: left;
                text-align-last: left;
                p {
                    margin: 0;
                    margin-top: 13px;
                    font-size: 10px;
                    color: #b7b7b7;
                }
            }
            >div:nth-of-type(2) {
                width: 60px;
                height: 45px;
                margin-left: 125px;
            }
            .green {
                background: #43b29e;
            }
            .red {
                background: #d04a36;
            }
            .yellow {
                background: #e2cd47;
            }
        }
    }
    .check {
        text-align-last: justify;
        .item,
        .list {
            width: 530px;
        }
        .item-form,
        .calendar {
            width: 350px;
        }
        .item-form {
            float: right;
            // 同样的为嘛这个就不对齐？
        }
        >div {
            height: 350px;
            background: #fff;
            border: 2px solid #ced0d3;
            border-radius: 7px;
            display: inline-block;
            overflow: hidden;
            text-align-last: center;
            >h4 {
                width: 100%;
                text-align-last: left;
                background: #f4f5f6;
                margin: 0;
                line-height: 40px;
                padding-left: 20px;
                color: #aaa;
                font-family: Microsoft YaHei;
            }
        }
        .item {
            >h4 {
                font-family: SimHei;
            }
            .item-table {
                height: 278px;
                width: 490px;
                margin: 12px 20px 0;
                // hr{
                // 	width: 490px;
                // 	height: 2px;
                // 	background: #d7d7d8;
                // 	border: none;
                // 	margin: 0;
                // 	position: relative;
                // 	// top: -5px;
                // 	z-index: 0;
                // }
                table {
                    margin-left: 35px;
                    border-collapse: collapse;
                    font-size: 12px;
                    td {
                        padding-left: 8px;
                        text-align: left;
                        border: 1px solid #d7d7d8;
                        width: 100px;
                        height: 30px;
                        line-height: 30px;
                        text-align-last: left;
                        font-family: SimSun;
                        color: #636363;
                    }
                }
                tr:first-child>td:first-child {
                    background-color: #f4f5f6;
                }
                tr>td:first-child {
                    color: #000;
                }
                tbody>tr:nth-of-type(1)>th:first-child {
                    color: #636363;
                    background: #f4f5f7;
                }
                .check-tab {
                    font-size: 12px;
                    width: 80px;
                    height: 25px;
                    line-height: 25px;
                    margin-right: 4px;
                    float: left;
                    border: none;
                    border-radius: 3px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background: #ededf0;
                }
                .active,
                .check-tab:hover {
                    background: #fff;
                    border: 2px solid #d7d7d8;
                    border-bottom: #fff;
                    position: relative;
                    z-index: 1;
                }
                .check-table {
                    width: 100%;
                    height: 250px;
                    border: 2px solid #d7d7d8;
                    position: relative;
                    top: 23px;
                    border-radius: 5px;
                    border-top-left-radius: 0;
                }
            }
        }
        .item-form {
            font-family: Microsoft YaHei;
            form {
                text-align-last: left;
                width: 280px;
                margin: 15px 0 0 35px;
                font-size: 12px;
                label {
                    color: #dddedd;
                    margin-bottom: 5px;
                    margin-left: 10px;
                }
                p {
                    margin-left: 10px;
                    margin-bottom: 9px;
                }
                .item-form-title {
                    border-bottom: 1px solid rgb(224, 224, 224);
                }
                .item-form-price {
                    height: 40px;
                    float: left;
                    width: 95px;
                    border-right: 1px solid rgb(224, 224, 224);
                    border-bottom: 1px solid rgb(224, 224, 224);
                }
                .item-form-people {
                    height: 40px;
                    width: 185px;
                    float: left;
                    position: relative;
                    hr {
                        width: 220px;
                        height: 1px;
                        color: rgb(224, 224, 224);
                        background-color: rgb(224, 224, 224);
                        border: none;
                        position: absolute;
                        bottom: 0;
                    }
                }
                .item-form-detail {
                    width: 100%;
                    height: 145px;
                    border-bottom: 1px solid rgb(224, 224, 224);
                }
            }
        }
        .calendar {
            .calendar-detail {
                width: 310px;
                margin-left: 20px;
            }
            .week {
                text-align-last: justify;
                line-height: 30px;
                border-top: 1px solid #a9cfec;
                border-bottom: 1px solid #e1e1e1;
                font-size: 12px;
            }
            tr>td:nth-of-type(6)>p:first-child,
            tr>td:nth-of-type(7)>p:first-child {
                color: red;
            }
        }
    }
}